.banner11 h2{
    text-align: center;
    padding: 32px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
      
}
.banner11 .img11{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.img11 img {
    width: 42%;
    height: 39%;
}