.banner10 h2{
    text-align: center;
    padding: 32px;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
      
}
.banner10 .img10{
    width: 100%;
}